<div class="row">
  <div class="span12">
    <h1>{{title}}</h1>
    <p>Hi! My name is <a href="http://www.ramiro.org/">Ramiro</a>, I created <a href="http://coderstats.geeksta.net/">Coderstats</a> as a fun project. My initial motivation was to come up with a simple idea as the basis for my first <a href="http://www.sinatrarb.com/">sinatra</a> project.</p>
    <p>Admittedly, it is also my first <a href="http://www.ruby-lang.org/">ruby</a> project, the first time I use <a href="http://www.mongodb.org/">MongoDB</a> in a production environment, and also my first encounter with the <a href="http://thejit.org/">JavaScript InfoVis toolkit</a>. I've used <a href="http://twitter.github.com/bootstrap/">Bootstrap from Twitter</a> before.</p>
    <p>Thanks to these open source projects, and to those I forgot to mention, it took just a few sleepless nights to hack together the initial version of Coderstats, which is hosted on <a href="https://openshift.redhat.com/app/">OpenShift</a>, a free platform-as-a-service for Java, Ruby, PHP, Perl and Python applications offered by <a href="http://www.redhat.com/">Red Hat</a>.</p>
    <p>If you still dare to look at the project's MIT licensed source code after what I've told you, <a href="https://github.com/yaph/coderstats">check it out on Github</a>. Of course you're welcome to fork it, help with further development and improve the code. Last but not least you find <a href="http://coderstats.geeksta.net/coder/yaph">my coder stats here</a>, be sure to <a href="http://coderstats.geeksta.net/">check out your own stats</a>.</p>
  </div>
</div>
