<div class="row"><div class="span12">
  <div class="hero-unit" id="userform">
    <header><h1>Get your coder stats</h1></header>
    <form action="/coderstats" method="GET" id="coderstats" name="coderstats">
      <input class="username" name="ghuser" id="ghuser" value="Your Github user name">
      <input class="button" type="submit" value="Get Stats">
    </form>
  </div>
</div></div>

<div class="row">
  <header class="span12">
    <h2>Latest coder statistics</h2>
  </header>
  {% for u in latest %}
  <div class="span1">
  <a href="{{u.user.html_url|escape}}"><img src="{{u.user.avatar_url|escape}}" alt="{{u.login|escape}}"></a>
  </div>
  {% endfor %}
</div>
