<div class="row"><div class="span12">
  <div class="hero-unit" id="userform">
    <header><h1>Get your coder stats</h1></header>
    <form action="/coderstats" method="GET" id="coderstats" name="coderstats">
      <input class="username" name="ghuser" id="ghuser" value="Your Github user name">
      <input class="button" type="submit" value="Get Stats">
    </form>
  </div>
</div></div>
