<h1>Get your coder stats</h1>
<div id="user_form">
  <form action="/coderstats" method="GET" id="coderstats" name="coderstats">
    <label for="ghuser">Github user name</label>
    <input class="username" name="ghuser" id="ghuser">
    <input class="button" type="submit" value="Get Stats">
  </form>
</div>
