<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Coderstats</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Top Rankings
                <b class="caret"></b></a>
                 <ul class="dropdown-menu">
                   <li><a href="/ranking/coders-by-language">Coders by Languages</a></li>
                   <li><a href="/ranking/coders-by-forks">Coders by Forks</a></li>
                   <li><a href="/ranking/coders-by-watchers">Coders by Watchers</a></li>
                   <li><a href="/ranking/organizations-by-language">Organizations by Languages</a></li>
                   <li><a href="/ranking/organizations-by-forks">Organizations by Forks</a></li>
                   <li><a href="/ranking/organizations-by-watchers">Organizations by Watchers</a></li>
                 </ul>
              </li>
              <li><a href="https://chrome.google.com/webstore/detail/necogepejonacpphmlmcagmbjaogpbng">Chrome Extension</a></li>
              <li class="addthis_toolbox addthis_default_style"><a class="addthis_counter addthis_pill_style"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>

    <footer class="container" id="mainfooter">
      <p><a href="/">Coderstats</a> is a free service that displays code statistics for <a href="https://github.com/">Github</a> coders, <a href="/about">learn more about it</a>. Brought to you by <a href="http://geeksta.net/">Geeksta</a>.</p>
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    {% if user.stats.counts or ranking %}
      <script src="/vendor/jit/js/chart.min.js"></script>
      <script src="/js/vis.js"></script>
      {% if user.stats.counts %}
        <script src="/js/profile.js"></script>
      {% endif %}
      {% if ranking %}
        <script src="/js/ranking.js"></script>
      {% endif %}
    {% endif %}

    {% if languagegraph %}
      <script src="/vendor/jit/js/hypertree.min.js"></script>
      <script src="/js/languagegraph.json"></script>
      <script src="/js/languagegraph.js"></script>
    {% endif %}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5102014-10']);
  _gaq.push(['_setDomainName', '.geeksta.net']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ed01f714e438a38"></script>
  </body>
</html>
