/* bootstrap overrides */
.navbar-inner {
-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;
}
.navbar .brand {
font-size:32px;
background: url('../img/logo_50x50.png') no-repeat top left;
padding:10px 0 10px 55px;
margin-left:0;
}
.navbar .nav {
font-size:20px;
padding-top:5px;
margin-right:0;
float:right;
}

#userform {
text-align:center;
}
#userform form {
margin:2em 0;
}
#userform input {
font:2.4em sans-serif;
height:2em;
}
#userform .username {
width:35%;
}
#mainfooter {
text-align:center;
border-top:1px solid #ddd;
margin-top:1em;
padding-top:1em;
}
#indexstats h2 {
padding-left:1.4em;
}
#indexstats .homepage {
display:block;
padding-top:.2em;
}
#indexstats .icon-signal,
#indexstats .icon-home {
padding:.15em;
}
#achievements button{
margin-bottom:.5em;
cursor:help;
}

.vcard li {list-style:none;}
.chart {height:250px;}
.imgsmall {max-width:35px;}

/* ranking pages */
#ranking_chart {
margin-top:40px;
min-height:500px;
}
