#userform {
text-align:center;
}
#userform form {
margin:2em 0;
}
#userform input {
font:2.4em sans-serif;
height:2em;
}
#userform .username {
width:35%;
}
#mainfooter {
text-align:center;
border-top:1px solid #ddd;
margin-top:1em;
padding-top:1em;
}
.vcard li {list-style:none;}
.chart {height:250px;}
